@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin_gdi.eot");
  src: url("../fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin_gdi.svg#PFBeauSansPro-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.eot");
  src: url("../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light_gdi.svg#PFBeauSansPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot");
  src: url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular_gdi.svg#PFBeauSansPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.eot");
  src: url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-SemiBold/PFBeauSansPro-SemiBold_gdi.svg#PFBeauSansPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.eot");
  src: url("../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.woff") format("woff"), url("../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.ttf") format("truetype"), url("../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold_gdi.svg#PFBeauSansPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "PFBeauSansPro", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h2 {
  color: #654143;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase; }

.form-block {
  width: 550px;
  background: #fff;
  padding: 70px 75px 60px 75px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px; }
  .form-block .form-title {
    color: #ce878b;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 -15px 35px -15px; }
  .form-block .form-head {
    color: #ce878b;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 -15px 35px -15px; }
    .form-block .form-head span {
      font-size: 28px;
      line-height: 30px; }
  .form-block .btn {
    width: 100%;
    margin-top: 10px; }
  .form-block .form-price {
    color: #e8967e;
    font-size: 20px;
    font-weight: 200;
    line-height: 40px;
    text-align: center;
    padding: 15px 0 20px 0; }
    .form-block .form-price strong {
      font-size: 40px;
      font-weight: 700; }
    .form-block .form-price span {
      font-weight: 700; }

.modal {
  width: 1020px;
  padding-top: 25px;
  padding-right: 25px; }
  .modal .form-block {
    float: right;
    padding: 45px 75px 35px 75px; }
  .modal .modal-text {
    float: left;
    width: 440px;
    padding-top: 120px; }
    .modal .modal-text .modal-title {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      text-align: left;
      margin-bottom: 40px;
      text-transform: uppercase; }
    .modal .modal-text .modal-price li {
      color: #fff;
      font-size: 24px;
      font-weight: 200;
      line-height: 40px;
      padding-top: 25px;
      position: relative;
      padding-bottom: 25px; }
      .modal .modal-text .modal-price li:after, .modal .modal-text .modal-price li:before {
        left: 0;
        right: 0;
        z-index: 50;
        height: 1px;
        content: '';
        position: absolute;
        background: url("../img/modal-line.png") 0 0 no-repeat; }
      .modal .modal-text .modal-price li:after {
        top: 0; }
      .modal .modal-text .modal-price li:before {
        bottom: 0; }
      .modal .modal-text .modal-price li span {
        color: #ce878b;
        font-weight: 700; }
      .modal .modal-text .modal-price li strong {
        color: #ce878b;
        font-size: 36px;
        font-weight: 700; }
      .modal .modal-text .modal-price li p {
        color: #aaa;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px; }
        .modal .modal-text .modal-price li p strong {
          color: #aaa;
          font-size: 14px;
          font-weight: 700;
          line-height: 25px; }

.btn-close {
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: url("../img/btn-close.png") 0 0 no-repeat; }

.btn-close-two {
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: url("../img/btn-close.png") 0 0 no-repeat; }

.fancybox-overlay {
  background: rgba(14, 0, 0, 0.9) !important; }

.res-fancybox-wrap {
  background: transparent !important; }
  .res-fancybox-wrap .res-fancybox-skin {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important; }
    .res-fancybox-wrap .res-fancybox-skin .res-fancybox-inner {
      background: transparent !important; }

.btn {
  margin: 0;
  color: #fefefe;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 19px 50px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  text-transform: uppercase;
  touch-action: manipulation;
  border: 5px solid #f7f7f7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  border-radius: 34px;
  background-image: -webkit-linear-gradient(left, #e79f90 0%, #dc97a6 100%);
  background-image: -o-linear-gradient(left, #e79f90 0%, #dc97a6 100%);
  background-image: linear-gradient(to right, #e79f90 0%, #dc97a6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE79F90', endColorstr='#FFDC97A6', GradientType=1); }
  .btn:hover {
    color: #fefefe;
    text-decoration: none;
    background-image: -webkit-linear-gradient(left, #e09ea6 0%, #e09ea6 100%);
    background-image: -o-linear-gradient(left, #e09ea6 0%, #e09ea6 100%);
    background-image: linear-gradient(to right, #e09ea6 0%, #e09ea6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE09EA6', endColorstr='#FFE09EA6', GradientType=1); }
  .btn:active {
    top: 1px; }

.btn-more {
  margin: 0;
  color: #a45f62;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  touch-action: manipulation;
  border: 3px solid #e09ea6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  border-radius: 34px;
  padding: 17px 35px 17px 65px;
  background: #f8f8f8 url("../img/icon-ok.png") 13px 50% no-repeat; }
  .btn-more:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e09ea6; }
  .btn-more:active {
    top: 1px; }

.form-control {
  margin: 0;
  width: 100%;
  color: #bbb;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 20px;
  display: inline-block;
  background: transparent;
  border: 1px solid #ddd;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .form-control::-moz-placeholder {
    color: #bbbbbb;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #bbbbbb; }
  .form-control::-webkit-input-placeholder {
    color: #bbbbbb; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.invalid .form-control {
  border-color: #ff0000; }

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
  background: transparent url("../img/icon-select.png") 95% 50% no-repeat; }
  select.form-control select::-ms-expand {
    display: none; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 20px; }

textarea {
  resize: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer {
  height: 269px;
  padding-top: 120px;
  background: url("../img/footer__bg.jpg") 50% 0 no-repeat; }
  .footer .footer-contact {
    float: left;
    width: 410px; }
    .footer .footer-contact li {
      color: #b3a8a6;
      line-height: 30px;
      padding-left: 30px; }
      .footer .footer-contact li.tel {
        background: url("../img/footer__phone.png") 0 50% no-repeat; }
        .footer .footer-contact li.tel a {
          color: #fff;
          font-size: 28px;
          font-weight: 700;
          text-decoration: none !important; }
      .footer .footer-contact li.mail {
        font-size: 18px;
        background: url("../img/footer__mail.png") 0 50% no-repeat; }
        .footer .footer-contact li.mail a {
          color: #b3a8a6;
          text-decoration: none !important; }
      .footer .footer-contact li.address {
        color: #b3a8a6;
        font-size: 14px;
        background: url("../img/footer__location.png") 0 50% no-repeat; }
  .footer .footer-text {
    color: #fff;
    float: left;
    width: 350px;
    text-align: center; }
    .footer .footer-text li:first-child {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 50px;
      text-transform: uppercase; }
      .footer .footer-text li:first-child strong {
        display: block; }
    .footer .footer-text li:last-child {
      color: #9e9191;
      font-size: 13px; }
  .footer .footer-info {
    width: 300px;
    float: right;
    text-align: right; }
    .footer .footer-info li:first-child {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px; }
      .footer .footer-info li:first-child a {
        color: #b3a8a6;
        text-decoration: underline; }
        .footer .footer-info li:first-child a:hover {
          text-decoration: none; }

.b01 {
  height: 960px;
  padding-top: 30px;
  background: url("../img/b01__bg.jpg") 50% 100% no-repeat; }
  .b01 .content {
    width: 700px; }
  .b01 .t1 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 20px; }
  .b01 h1 {
    color: #654143;
    font-size: 86px;
    font-weight: 200;
    line-height: 90px;
    margin-bottom: 40px;
    text-transform: uppercase; }
    .b01 h1 strong {
      font-weight: 700;
      font-size: 89px;
      display: block; }
  .b01 .text {
    color: #c98c89;
    position: relative;
    padding-top: 28px;
    padding-bottom: 22px;
    margin-bottom: 60px; }
    .b01 .text .t2 {
      font-size: 32px;
      font-weight: 300;
      line-height: 40px; }
    .b01 .text .t3 {
      font-size: 25px;
      font-weight: 300;
      line-height: 40px; }
    .b01 .text:after, .b01 .text:before {
      left: 0;
      right: 0;
      z-index: 50;
      height: 1px;
      content: '';
      position: absolute;
      background: url("../img/b01__textline.png") 0 0 no-repeat; }
    .b01 .text:after {
      top: 0; }
    .b01 .text:before {
      bottom: 0; }
  .b01 .list li {
    color: #654143;
    font-size: 18px;
    line-height: 30px;
    padding-left: 60px;
    margin-bottom: 18px; }
    .b01 .list li.item1 {
      background: url("../img/b01__icon1.png") 0 50% no-repeat; }
    .b01 .list li.item2 {
      background: url("../img/b01__icon2.png") 0 50% no-repeat; }

.top {
  margin-bottom: 70px; }
  .top .top-container {
    padding: 0 40px; }
    .top .top-container:before, .top .top-container:after {
      content: " ";
      display: table; }
    .top .top-container:after {
      clear: both; }
    .top .top-container .logo {
      float: left; }
    .top .top-container .contact {
      float: right;
      width: 300px;
      text-align: right; }
      .top .top-container .contact li {
        margin-bottom: 5px; }
      .top .top-container .contact .tel {
        color: #5f3330;
        font-size: 24px;
        line-height: 30px;
        text-decoration: none; }
      .top .top-container .contact .btn-callback {
        color: #c98c89;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        padding-left: 30px;
        display: inline-block;
        text-decoration: none;
        background: url("../img/icon-tel.png") 0 50% no-repeat; }

.b02 {
  height: 800px;
  padding-top: 110px;
  background: url("../img/b02__bg.jpg") 50% 0 no-repeat; }
  .b02 h2 {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 55px; }
  .b02 .b02-video {
    width: 980px;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin: 0 auto 50px auto;
    -webkit-box-shadow: -9px 9px 30px 0px rgba(93, 25, 27, 0.1);
    box-shadow: -9px 9px 30px 0px rgba(93, 25, 27, 0.1); }
    .b02 .b02-video a {
      top: 50%;
      left: 50%;
      content: '';
      z-index: 50;
      width: 72px;
      height: 72px;
      margin-top: -36px;
      margin-left: -36px;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background: url("../img/b04__play.png") 0 0 no-repeat; }
      .b02 .b02-video a:hover {
        background-position: 0 -72px; }

.b03 {
  height: 632px;
  padding-top: 100px;
  background: url("../img/b03__bg.jpg") 50% 0 no-repeat; }
  .b03 h2 {
    margin-bottom: 90px; }
  .b03 .advantage {
    width: 1170px;
    display: table-cell; }
    .b03 .advantage li {
      color: #777;
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      display: table-cell;
      vertical-align: top;
      padding: 100px 5px 0 5px; }
      .b03 .advantage li.item1 {
        width: 20%;
        background: url("../img/b03__item01.png") 50% 0 no-repeat; }
      .b03 .advantage li.item2 {
        width: 30%;
        background: url("../img/b03__item02.png") 50% 0 no-repeat; }
      .b03 .advantage li.item3 {
        width: 20%;
        background: url("../img/b03__item03.png") 50% 0 no-repeat; }
      .b03 .advantage li.item4 {
        width: 30%;
        background: url("../img/b03__item04.png") 50% 0 no-repeat; }
  .b03 .text {
    color: #c98c89;
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 25px;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-top: 50px; }
    .b03 .text:after, .b03 .text:before {
      left: 0;
      right: 0;
      z-index: 50;
      height: 1px;
      content: '';
      position: absolute;
      background: url("../img/b03__line.png") 50% 0 no-repeat; }
    .b03 .text:after {
      top: 0; }
    .b03 .text:before {
      bottom: 0; }

.b04 {
  height: 988px;
  padding-top: 230px;
  background: url("../img/b04__bg.jpg") 50% 0 no-repeat; }
  .b04 h2 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 60px; }
  .b04 .btn-box {
    text-align: center;
    margin-bottom: 70px; }
  .b04 .review {
    overflow: hidden;
    margin-bottom: 45px; }
    .b04 .review .review-item {
      outline: none; }
    .b04 .review ul li {
      width: 530px; }
      .b04 .review ul li:first-child {
        float: left;
        margin-left: 15px; }
      .b04 .review ul li:last-child {
        float: right;
        margin-right: 15px; }
    .b04 .review .review-video {
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: -9px 9px 30px 0px rgba(93, 25, 27, 0.1);
      box-shadow: -9px 9px 30px 0px rgba(93, 25, 27, 0.1); }
      .b04 .review .review-video a {
        top: 50%;
        left: 50%;
        content: '';
        z-index: 50;
        width: 72px;
        height: 72px;
        margin-top: -36px;
        margin-left: -36px;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background: url("../img/b04__play.png") 0 0 no-repeat; }
        .b04 .review .review-video a:hover {
          background-position: 0 -72px; }
    .b04 .review .review-author {
      color: #654143;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      text-align: center; }

.b05 {
  height: 900px;
  padding-top: 160px;
  background: url("../img/b05__bg.jpg") 50% 0 no-repeat; }
  .b05 .content-block {
    float: left;
    width: 600px; }
    .b05 .content-block .heading {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      padding-top: 70px;
      margin-bottom: 65px;
      text-transform: uppercase; }
    .b05 .content-block .content-list {
      width: 435px;
      margin-left: 30px; }
      .b05 .content-block .content-list li {
        color: #fff;
        width: 100%;
        display: table;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 40px; }
        .b05 .content-block .content-list li span {
          height: 90px;
          padding-left: 110px;
          display: table-cell;
          vertical-align: middle;
          padding-bottom: 10px; }
        .b05 .content-block .content-list li.item1 {
          background: url("../img/b05__icon1.png") 0 50% no-repeat; }
        .b05 .content-block .content-list li.item2 {
          background: url("../img/b05__icon2.png") 0 50% no-repeat; }
        .b05 .content-block .content-list li.item3 {
          background: url("../img/b05__icon3.png") 0 50% no-repeat; }
  .b05 .form-block {
    float: right;
    -webkit-box-shadow: -9px 9px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -9px 9px 30px 0px rgba(0, 0, 0, 0.15); }
    .b05 .form-block .form-title {
      margin-bottom: 15px; }
    .b05 .form-block .form-subtitle {
      color: #de9793;
      font-size: 26px;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
      margin-bottom: 30px;
      background: url("../img/b05__form_line.jpg") 50% 50% no-repeat; }

.b06 {
  height: 980px;
  padding-top: 100px;
  background: url("../img/b06__bg.jpg") 50% 0 no-repeat; }
  .b06 .price .price-title {
    color: #fff;
    width: 100%;
    height: 170px;
    display: table;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase; }
    .b06 .price .price-title span {
      height: 170px;
      display: table-cell;
      vertical-align: middle;
      padding-bottom: 25px; }
  .b06 .price .price-list {
    margin-bottom: 25px; }
    .b06 .price .price-list li {
      color: #888;
      font-size: 15px;
      font-weight: 600;
      line-height: 26px;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 13px;
      background: url("../img/b06__line.png") 50% 100% no-repeat; }
      .b06 .price .price-list li.gray {
        color: #ccc;
        text-decoration: line-through; }
  .b06 .price .price-value {
    color: #e8967e;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-bottom: 35px; }
    .b06 .price .price-value strong {
      font-size: 40px;
      font-weight: 700; }
    .b06 .price .price-value span {
      font-weight: 700; }
  .b06 .price .btn {
    width: 410px; }
  .b06 .price > li {
    width: 530px;
    height: 650px;
    background: #fff;
    overflow: hidden;
    text-align: center;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: -9px 9px 30px 0px rgba(93, 25, 27, 0.1);
    box-shadow: -9px 9px 30px 0px rgba(93, 25, 27, 0.1); }
    .b06 .price > li:first-child {
      float: left;
      margin-left: 15px; }
      .b06 .price > li:first-child .price-title {
        background: url("../img/b06__left.png") 0 0 no-repeat; }
    .b06 .price > li:last-child {
      float: right;
      margin-right: 15px; }
      .b06 .price > li:last-child .price-title {
        background: url("../img/b06__right.png") 0 0 no-repeat; }

.b07 {
  height: 906px;
  padding-top: 250px;
  background: url("../img/b07__bg.jpg") 50% 0 no-repeat; }
  .b07 .content-block {
    float: left;
    width: 600px; }
    .b07 .content-block .heading {
      color: #c17478;
      font-size: 54px;
      font-weight: 700;
      line-height: 60px;
      padding-top: 70px;
      margin-bottom: 35px;
      text-transform: uppercase; }
    .b07 .content-block .text {
      color: #654143;
      padding: 25px 0;
      font-size: 34px;
      font-weight: 300;
      line-height: 50px;
      position: relative; }
      .b07 .content-block .text:after, .b07 .content-block .text:before {
        left: 0;
        right: 0;
        z-index: 50;
        height: 1px;
        content: '';
        position: absolute;
        background: url("../img/b07__line.png") 0 0 no-repeat; }
      .b07 .content-block .text:after {
        top: 0; }
      .b07 .content-block .text:before {
        bottom: 0; }
      .b07 .content-block .text strong {
        text-transform: uppercase; }
  .b07 .form-block {
    float: right;
    -webkit-box-shadow: -9px 9px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -9px 9px 30px 0px rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=main.css.map */
