* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2 {
	color: #654143;
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
}

.form-block {
	width: 550px;
	background: #fff;
	padding: 70px 75px 60px 75px;
	@include border-radius(18px);

	.form-title {
		color: #ce878b;
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 -15px 35px -15px;
	}

	.form-head {
		color: #ce878b;
		font-size: 35px;
		font-weight: 700;
		line-height: 35px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 -15px 35px -15px;

		span {
			font-size: 28px;
			line-height: 30px;
		}
	}

	.btn {
		width: 100%;
		margin-top: 10px;
	}

	.form-price {
		color: #e8967e;
		font-size: 20px;
		font-weight: 200;
		line-height: 40px;
		text-align: center;
		padding: 15px 0 20px 0;

		strong {
			font-size: 40px;
			font-weight: 700;
		}

		span {
			font-weight: 700;
		}
	}
}


.modal {
	width: 1020px;
	padding-top: 25px;
	padding-right: 25px;

	.form-block {
		float: right;
		padding: 45px 75px 35px 75px;
	}

	.modal-text {
		float: left;
		width: 440px;
		padding-top: 120px;

		.modal-title {
			color: #fff;
			font-size: 36px;
			font-weight: 700;
			line-height: 40px;
			text-align: left;
			margin-bottom: 40px;
			text-transform: uppercase;
		}

		.modal-price {

			li {
				color: #fff;
				font-size: 24px;
				font-weight: 200;
				line-height: 40px;
				padding-top: 25px;
				position: relative;
				padding-bottom: 25px;

				&:after,
				&:before {
					left: 0;
					right: 0;
					z-index: 50;
					height: 1px;
					content: '';
					position: absolute;
					background: url("../img/modal-line.png") 0 0 no-repeat;
				}

				&:after {
					top: 0;
				}

				&:before {
					bottom: 0;
				}

				span {
					color: #ce878b;
					font-weight: 700;
				}

				strong {
					color: #ce878b;
					font-size: 36px;
					font-weight: 700;
				}

				p {
					color: #aaa;
					font-size: 14px;
					font-weight: 300;
					line-height: 25px;

					strong {
						color: #aaa;
						font-size: 14px;
						font-weight: 700;
						line-height: 25px;
					}
				}
			}
		}
	}
}

.btn-close {
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	z-index: 9999;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	background: url("../img/btn-close.png") 0 0 no-repeat;
}

.btn-close-two {
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	z-index: 9999;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	background: url("../img/btn-close.png") 0 0 no-repeat;
}

.fancybox-overlay {
	background: rgba(14,0,0, 0.9) !important;
}

.res-fancybox-wrap {
	background: transparent !important;

	.res-fancybox-skin {
		@include box-shadow(none);
		background: transparent !important;

		.res-fancybox-inner {
			background: transparent !important;
		}
	}
}