.b05 {
	height: 900px;
	padding-top: 160px;
	background: url("../img/b05__bg.jpg") 50% 0 no-repeat;

	.content-block {
		float: left;
		width: 600px;

		.heading {
			color: #fff;
			font-size: 50px;
			font-weight: 700;
			line-height: 50px;
			padding-top: 70px;
			margin-bottom: 65px;
			text-transform: uppercase;
		}

		.content-list {
			width: 435px;
			margin-left: 30px;

			li {
				color: #fff;
				width: 100%;
				display: table;
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 40px;

				span {
					height: 90px;
					padding-left: 110px;
					display: table-cell;
					vertical-align: middle;
					padding-bottom: 10px;
				}

				&.item1 {
					background: url("../img/b05__icon1.png") 0 50% no-repeat;
				}

				&.item2 {
					background: url("../img/b05__icon2.png") 0 50% no-repeat;
				}

				&.item3 {
					background: url("../img/b05__icon3.png") 0 50% no-repeat;
				}
			}
		}
	}

	.form-block {
		float: right;
		@include box-shadow(-9px 9px 30px 0px rgba(0, 0, 0, 0.15));

		.form-title {
			margin-bottom: 15px;
		}

		.form-subtitle {
			color: #de9793;
			font-size: 26px;
			font-weight: 300;
			line-height: 30px;
			text-align: center;
			margin-bottom: 30px;
			background: url("../img/b05__form_line.jpg") 50% 50% no-repeat;
		}
	}
}

