.b06 {
	height: 980px;
	padding-top: 100px;
	background: url("../img/b06__bg.jpg") 50% 0 no-repeat;

	.price {

		.price-title {
			color: #fff;
			width: 100%;
			height: 170px;
			display: table;
			font-size: 24px;
			font-weight: 700;
			line-height: 28px;
			text-align: center;
			margin-bottom: 25px;
			text-transform: uppercase;

			span {
				height: 170px;
				display: table-cell;
				vertical-align: middle;
				padding-bottom: 25px;
			}
		}

		.price-list {
			margin-bottom: 25px;

			li {
				color: #888;
				font-size: 15px;
				font-weight: 600;
				line-height: 26px;
				text-align: center;
				padding-top: 12px;
				padding-bottom: 13px;
				background: url("../img/b06__line.png") 50% 100% no-repeat;

				&.gray {
					color: #ccc;
					text-decoration: line-through;
				}
			}
		}

		.price-value {
			color: #e8967e;
			font-size: 20px;
			font-weight: 300;
			line-height: 40px;
			text-align: center;
			margin-bottom: 35px;

			strong {
				font-size: 40px;
				font-weight: 700;
			}

			span {
				font-weight: 700;
			}
		}

		.btn {
			width: 410px;
		}

		> li {
			width: 530px;
			height: 650px;
			background: #fff;
			overflow: hidden;
			text-align: center;
			@include border-radius(28px);
			@include box-shadow(-9px 9px 30px 0px rgba(93, 25, 27, 0.1));

			&:first-child {
				float: left;
				margin-left: 15px;

				.price-title {
					background: url("../img/b06__left.png") 0 0 no-repeat;
				}
			}

			&:last-child {
				float: right;
				margin-right: 15px;

				.price-title {
					background: url("../img/b06__right.png") 0 0 no-repeat;
				}
			}
		}
	}
}