.b01 {
	height: 960px;
	padding-top: 30px;
	background: url("../img/b01__bg.jpg") 50% 100% no-repeat;

	.content {
		width: 700px;
	}

	.t1 {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	h1 {
		color: #654143;
		font-size: 86px;
		font-weight: 200;
		line-height: 90px;
		margin-bottom: 40px;
		text-transform: uppercase;

		strong {
			font-weight: 700;
			font-size: 89px;
			display: block;
		}
	}

	.text {
		color: #c98c89;
		position: relative;
		padding-top: 28px;
		padding-bottom: 22px;
		margin-bottom: 60px;

		.t2 {
			font-size: 32px;
			font-weight: 300;
			line-height: 40px;
		}

		.t3 {

			font-size: 25px;
			font-weight: 300;
			line-height: 40px;
		}

		&:after,
		&:before {
			left: 0;
			right: 0;
			z-index: 50;
			height: 1px;
			content: '';
			position: absolute;
			background: url("../img/b01__textline.png") 0 0 no-repeat;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}
	}

	.list {

		li {
			color: #654143;
			font-size: 18px;
			line-height: 30px;
			padding-left: 60px;
			margin-bottom: 18px;

			&.item1 {
				background: url("../img/b01__icon1.png") 0 50% no-repeat;
			}

			&.item2 {
				background: url("../img/b01__icon2.png") 0 50% no-repeat;
			}
		}
	}
}


.top {
	margin-bottom: 70px;

	.top-container {
		padding: 0 40px;
		@include clearfix();

		.logo {
			float: left;
		}

		.contact {
			float: right;
			width: 300px;
			text-align: right;

			li {
				margin-bottom: 5px;
			}

			.tel {
				color: #5f3330;
				font-size: 24px;
				line-height: 30px;
				text-decoration: none;
			}

			.btn-callback {
				color: #c98c89;
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
				padding-left: 30px;
				display: inline-block;
				text-decoration: none;
				background: url("../img/icon-tel.png") 0 50% no-repeat;
			}
		}
	}
}