.b03 {
	height: 632px;
	padding-top: 100px;
	background: url("../img/b03__bg.jpg") 50% 0 no-repeat;

	h2 {

		margin-bottom: 90px;
	}


	.advantage {
		width: 1170px;
		display: table-cell;

		li {
			color: #777;
			font-size: 14px;
			line-height: 25px;
			text-align: center;
			display: table-cell;
			vertical-align: top;
			padding: 100px 5px 0 5px;
			
			&.item1 {
				width: 20%;
				background: url("../img/b03__item01.png") 50% 0 no-repeat;
			}

			&.item2 {
				width: 30%;
				background: url("../img/b03__item02.png") 50% 0 no-repeat;
			}

			&.item3 {
				width: 20%;
				background: url("../img/b03__item03.png") 50% 0 no-repeat;
			}

			&.item4 {
				width: 30%;
				background: url("../img/b03__item04.png") 50% 0 no-repeat;
			}
		}
	}

	.text {
		color: #c98c89;
		font-size: 17px;
		font-weight: 700;
		line-height: 28px;
		padding-top: 25px;
		text-align: center;
		position: relative;
		padding-bottom: 25px;
		margin-top: 50px;

		&:after,
		&:before {
			left: 0;
			right: 0;
			z-index: 50;
			height: 1px;
			content: '';
			position: absolute;
			background: url("../img/b03__line.png") 50% 0 no-repeat;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}
	}
}