.b02 {
	height: 800px;
	padding-top: 110px;
	background: url("../img/b02__bg.jpg") 50% 0 no-repeat;

	h2 {
		color: #fff;
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 55px;
	}

	.b02-video {
		width: 980px;
		overflow: hidden;
		position: relative;
		@include border-radius(20px);
		margin: 0 auto 50px auto;
		@include box-shadow(-9px 9px 30px 0px rgba(93, 25, 27, 0.1));

		a {
			top: 50%;
			left: 50%;
			content: '';
			z-index: 50;
			width: 72px;
			height: 72px;
			margin-top: -36px;
			margin-left: -36px;
			position: absolute;
			@include border-radius(50%);
			background: url("../img/b04__play.png") 0 0 no-repeat;

			&:hover {
				background-position: 0 -72px;
			}
		}
	}
}