.b07 {
	height: 906px;
	padding-top: 250px;
	background: url("../img/b07__bg.jpg") 50% 0 no-repeat;

	.content-block {
		float: left;
		width: 600px;

		.heading {
			color: #c17478;
			font-size: 54px;
			font-weight: 700;
			line-height: 60px;
			padding-top: 70px;
			margin-bottom: 35px;
			text-transform: uppercase;
		}

		.text {
			color: #654143;
			padding: 25px 0;
			font-size: 34px;
			font-weight: 300;
			line-height: 50px;
			position: relative;

			&:after,
			&:before {
				left: 0;
				right: 0;
				z-index: 50;
				height: 1px;
				content: '';
				position: absolute;
				background: url("../img/b07__line.png") 0 0 no-repeat;
			}

			&:after {
				top: 0;
			}

			&:before {
				bottom: 0;
			}

			strong {

				text-transform: uppercase;
			}
		}
	}

	.form-block {
		float: right;
		@include box-shadow(-9px 9px 30px 0px rgba(0, 0, 0, 0.15));
	}
}