.b04 {
	height: 988px;
	padding-top: 230px;
	background: url("../img/b04__bg.jpg") 50% 0 no-repeat;

	h2 {
		font-size: 40px;
		line-height: 46px;
		margin-bottom: 60px;
	}

	.btn-box {
		text-align: center;
		margin-bottom: 70px;
	}

	.review {
		overflow: hidden;
		margin-bottom: 45px;

		.review-item {
			outline: none;
		}

		ul {

			li {
				width: 530px;

				&:first-child {
					float: left;
					margin-left: 15px;
				}

				&:last-child {
					float: right;
					margin-right: 15px;
				}
			}
		}


		.review-video {
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			@include border-radius(8px);
			@include box-shadow(-9px 9px 30px 0px rgba(93, 25, 27, 0.1));

			a {
				top: 50%;
				left: 50%;
				content: '';
				z-index: 50;
				width: 72px;
				height: 72px;
				margin-top: -36px;
				margin-left: -36px;
				position: absolute;
				@include border-radius(50%);
				background: url("../img/b04__play.png") 0 0 no-repeat;

				&:hover {
					background-position: 0 -72px;
				}
			}
		}

		.review-author {
			color: #654143;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			text-align: center;
		}
	}
}