.footer {
	height: 269px;
	padding-top: 120px;
	background: url("../img/footer__bg.jpg") 50% 0 no-repeat;

	.footer-contact {
		float: left;
		width: 410px;

		li {
			color: #b3a8a6;
			line-height: 30px;
			padding-left: 30px;

			&.tel {
				background: url("../img/footer__phone.png") 0 50% no-repeat;

				a {
					color: #fff;
					font-size: 28px;
					font-weight: 700;
					text-decoration: none !important;
				}
			}

			&.mail {
				font-size: 18px;
				background: url("../img/footer__mail.png") 0 50% no-repeat;

				a {
					color: #b3a8a6;
					text-decoration: none !important;
				}
			}

			&.address {
				color: #b3a8a6;
				font-size: 14px;
				background: url("../img/footer__location.png") 0 50% no-repeat;
			}
		}
	}

	.footer-text {
		color: #fff;
		float: left;
		width: 350px;
		text-align: center;


		li {

			&:first-child {
				font-size: 25px;
				line-height: 30px;
				margin-bottom: 50px;
				text-transform: uppercase;

				strong {
					display: block;
				}
			}

			&:last-child {
				color: #9e9191;
				font-size: 13px;
			}
		}
	}

	.footer-info {
		width: 300px;
		float: right;
		text-align: right;

		li {

			&:first-child {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 25px;

				a {
					color: #b3a8a6;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}