.btn {
	margin:0;
	color: #fefefe;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	padding: 19px 50px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 5px solid #f7f7f7;
	@include transition(.3s);
	@include border-radius(34px);
	@include gradient-horizontal(#e79f90, #dc97a6);

	&:hover {
		color: #fefefe;
		text-decoration: none;
		@include gradient-horizontal(#e09ea6, #e09ea6);
	}

	&:active {
		top: 1px;
	}
}

.btn-more {
	margin:0;
	color: #a45f62;
	outline: none;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 3px solid #e09ea6;
	@include transition(.3s);
	@include border-radius(34px);
	padding: 17px 35px 17px 65px;
	background: #f8f8f8 url("../img/icon-ok.png") 13px 50% no-repeat;

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #e09ea6;
	}

	&:active {
		top: 1px;
	}
}