.form-control {
	margin: 0;
	width: 100%;
	color: #bbb;
	outline: none;
	font-size: 18px;
	line-height: 20px;
	padding: 20px 20px;
	display: inline-block;
	background: transparent;
	border: 1px solid #ddd;
	text-align: center;
	@include placeholder(#bbbbbb);
	@include border-radius(8px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.invalid {

	.form-control {
		border-color: #ff0000;
	}
}

select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;
	background: transparent url("../img/icon-select.png") 95% 50% no-repeat;

	select::-ms-expand {
		display: none;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 20px;
}

textarea {
	resize: none;
}